.container {
	width: 100%;
	max-width: var(--column-width);
	margin: var(--column-margin-top) auto 0 auto;
	line-height: 1;

	h1:first-letter {
		text-transform: capitalize;
	}
}

.form {
	margin: 0 0 0.5rem 0;
}

input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	&:focus-visible {
		box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.1);
		border: 1px solid #ff3e00 !important;
		outline: none;
	}
}

.form {
	input {
		font-size: 28px;
		width: 100%;
		padding: 0.5em 1em 0.3em 1em;
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 8px;
		text-align: center;

		&:not(:last-of-type) {
			margin-bottom: 0.5rem;
		}
	}
}
button {
	font: inherit;
	border: none;
	outline: none;
	/* color: $accent-color; */
	cursor: pointer;
}
.btn {
	position: relative;
	font-size: 1.2rem;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid #ff3e00;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 8px;
	transition: all 0.3s;
	&:hover:not(:disabled) {
		background: #ff3e00;
		color: #fff;
	}
	&:disabled {
		border: 1px solid #000;
	}
	&:disabled:hover {
		background: #000;
		color: #fff;
		border: none;
		cursor: default;
	}
}
.notification-container {
	display: flex;
	flex-direction: column;
}
.notification {
	width: 25%;
	background: #70c48f;
	color: white;
	border-radius: 3px;
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	transition: all 0.3s;
}
.notification.disappear {
	visibility: hidden;
}
@media (max-width: 600px) {
	.notification {
		width: 60%;
	}
}

.user {
	align-items: center;
	margin: 0 0 0.5rem 0;
	padding: 0.5rem;
	background-color: white;
	border-radius: 8px;
	filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
	transform: translate(-1px, -1px);
	transition: filter 0.2s, transform 0.2s;

	input {
		flex: 1;
		padding: 0.5em 2em 0.5em 0.8em;
		border-radius: 3px;
		outline: none;
		border: none;
	}
	button {
		width: 2em;
		height: 2em;
		border: none;
		background-color: transparent;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}

.text {
	position: relative;
	display: flex;
	align-items: center;
	flex: 1;
}
.save {
	position: absolute;
	right: 0;
	opacity: 0;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 2H3.5C2.67158 2 2 2.67157 2 3.5V20.5C2 21.3284 2.67158 22 3.5 22H20.5C21.3284 22 22 21.3284 22 20.5V3.5C22 2.67157 21.3284 2 20.5 2Z' fill='%23676778' stroke='%23676778' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M17 2V11H7.5V2H17Z' fill='white' stroke='white' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M13.5 5.5V7.5' stroke='%23676778' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M5.99844 2H18.4992' stroke='%23676778' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.user input:focus + .save,
.save:focus {
	transition: opacity 0.2s;
	opacity: 1;
}
