@import 'variables';
@import 'globals';
@import 'header';
@import 'about';
@import 'home';
@import 'form';

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.center {
	text-align: center;
}
.error {
	color: red;
}
